CRMPowerBISharePointIntegration_1_0_0_7/Workflows/Button-InitializevariablevarAllFoldersInitializeva-D6128EDC-17FB-F011-8406-00224814C9AB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "sp_sharedcommondataserviceforapps_c8a4c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "sp_sharedsharepointonline_e7162"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "67d693c7-88ae-4b1f-85b5-b46306a9a91c"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "BaseFolderURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "SharePoint folder URL (e.g., https://contoso.sharepoint.com/sites/HR/Documents/Policies)",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_varAllFolders": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e1fbf333-86f0-457e-8a5a-002513ba68fc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAllFolders",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable_varBrokenPermissionFolders": {
          "runAfter": {
            "Initialize_variable_varAllFolders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eaf448b0-9f33-45d5-a683-6bd2f01e30fd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBrokenPermissionFolders",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable_varScanID": {
          "runAfter": {
            "Initialize_variable_varBrokenPermissionFolders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c1bc9e97-7a5f-4abe-a73f-7fb24bfb67f1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varScanID",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Initialize_variable_varAPICallCount": {
          "runAfter": {
            "Initialize_variable_varScanID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "api-call-counter"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAPICallCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Get_Site_URL": {
          "runAfter": {
            "Initialize_variable_varAPICallCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6658572c-e072-4ede-b9cc-efab384c65cd"
          },
          "type": "Compose",
          "inputs": "@concat(split(triggerBody()['text'], '/sites/')[0], '/sites/', split(split(triggerBody()['text'], '/sites/')[1], '/')[0])"
        },
        "Get_Library_Name": {
          "runAfter": {
            "Get_Site_URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d2e18554-f7be-403a-8d24-39661cde0593"
          },
          "type": "Compose",
          "inputs": "@split(split(triggerBody()['text'], '/sites/')[1], '/')[1]"
        },
        "Get_Folder_path": {
          "runAfter": {
            "Get_Library_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "90e25059-3a29-4c72-8e41-57076023a38c"
          },
          "type": "Compose",
          "inputs": "@replace(triggerBody()['text'], concat(split(triggerBody()['text'], '/sites/')[0], '/sites/', split(split(triggerBody()['text'], '/sites/')[1], '/')[0], '/', split(split(triggerBody()['text'], '/sites/')[1], '/')[1]), '')"
        },
        "Create_Scan_Record": {
          "runAfter": {
            "Get_Folder_path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "create-scan-record"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "crad9_scansessions",
              "item/crad9_name": "adfss",
              "item/crad9_libraryname": "@outputs('Get_Library_Name')",
              "item/crad9_rootfolderpath": "@outputs('Get_Folder_path')",
              "item/crad9_scanstarttime": "@utcNow()",
              "item/crad9_scanstatus": 1,
              "item/crad9_siteurl": "@outputs('Get_Site_URL')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Store_Scan_ID": {
          "runAfter": {
            "Create_Scan_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "store-scan-id"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "varScanID",
            "value": "@outputs('Create_Scan_Record')?['body/crad9_scansessionid']"
          }
        },
        "Get_All_Subfolders": {
          "runAfter": {
            "Store_Scan_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "get-all-subfolders"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@outputs('Get_Site_URL')",
              "parameters/method": "GET",
              "parameters/uri": "@{concat('/_api/web/GetFolderByServerRelativeUrl(''', outputs('Get_Folder_path'), ''')/Folders?$select=Name,ServerRelativeUrl,UniqueId,ItemCount,TimeLastModified')}",
              "parameters/headers": {
                "Accept": "application/json;odata=verbose"
              }
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "HttpRequest",
              "connectionName": "shared_sharepointonline"
            }
          }
        },
        "Increment_API_Call_Count_1": {
          "runAfter": {
            "Get_All_Subfolders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "increment-api-1"
          },
          "type": "IncrementVariable",
          "inputs": {
            "name": "varAPICallCount",
            "value": 1
          }
        },
        "Flatten_Folder_Hierarchy": {
          "foreach": "@outputs('Get_All_Subfolders')?['body']?['d']?['results']",
          "actions": {
            "Append_to_varAllFolders": {
              "metadata": {
                "operationMetadataId": "append-folder"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "varAllFolders",
                "value": {
                  "Name": "@items('Flatten_Folder_Hierarchy')?['Name']",
                  "ServerRelativeUrl": "@items('Flatten_Folder_Hierarchy')?['ServerRelativeUrl']",
                  "UniqueId": "@items('Flatten_Folder_Hierarchy')?['UniqueId']",
                  "ItemCount": "@items('Flatten_Folder_Hierarchy')?['ItemCount']",
                  "Level": 1
                }
              }
            }
          },
          "runAfter": {
            "Increment_API_Call_Count_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "flatten-folders"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 50
            }
          }
        },
        "Get_Folders_With_Broken_Permissions": {
          "foreach": "@variables('varAllFolders')",
          "actions": {
            "Check_Folder_Permissions": {
              "metadata": {
                "operationMetadataId": "check-permissions"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@outputs('Get_Site_URL')",
                  "parameters/method": "GET",
                  "parameters/uri": "@{concat('/_api/web/GetFolderByServerRelativeUrl(''', items('Get_Folders_With_Broken_Permissions')?['ServerRelativeUrl'], ''')/ListItemAllFields?$select=HasUniqueRoleAssignments')}",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose"
                  }
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "Increment_API_Count_Check": {
              "runAfter": {
                "Check_Folder_Permissions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7539fda3-be64-4f6d-bcb2-6ab1c04dce31"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "varAPICallCount",
                "value": 1
              }
            },
            "Condition_Has_Unique_Permissions": {
              "actions": {
                "Append_to_Broken_Permissions": {
                  "metadata": {
                    "operationMetadataId": "7df82c45-ea7c-4552-9e95-7d131ba87eda"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varBrokenPermissionFolders",
                    "value": "@items('Get_Folders_With_Broken_Permissions')"
                  }
                }
              },
              "runAfter": {
                "Increment_API_Count_Check": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "equals": [
                  "@outputs('Check_Folder_Permissions')?['body']?['d']?['HasUniqueRoleAssignments']",
                  true
                ]
              },
              "metadata": {
                "operationMetadataId": "fcb5864c-aa2b-4915-ac6a-2853793a382f"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Flatten_Folder_Hierarchy": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "get-broken-permissions"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Process_Broken_Permission_Folders": {
          "foreach": "@variables('varBrokenPermissionFolders')",
          "actions": {
            "Get_Folder_Role_Assignments": {
              "metadata": {
                "operationMetadataId": "get-role-assignments"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@outputs('Get_Site_URL')",
                  "parameters/method": "GET",
                  "parameters/uri": "@{concat('/_api/web/GetFolderByServerRelativeUrl(''', items('Process_Broken_Permission_Folders')?['ServerRelativeUrl'], ''')/ListItemAllFields/RoleAssignments?$expand=Member,RoleDefinitionBindings')}",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose"
                  }
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "Increment_API_Count_Roles": {
              "runAfter": {
                "Get_Folder_Role_Assignments": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fb272ae0-a2ba-43c9-9c16-b1712d4b3348"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "varAPICallCount",
                "value": 1
              }
            },
            "Process_Each_Permission": {
              "foreach": "@outputs('Get_Folder_Role_Assignments')?['body']?['d']?['results']",
              "actions": {
                "Create_Permission_Entry": {
                  "metadata": {
                    "operationMetadataId": "create-permission-entry"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "crad9_permissionentries",
                      "item/crad9_newcolumn": "ss",
                      "item/crad9_libraryname": "@outputs('Get_Library_Name')",
                      "item/crad9_loginname": "@items('Process_Each_Permission')?['Member']?['LoginName']",
                      "item/crad9_permissionlevel": "@{first(items('Process_Each_Permission')?['RoleDefinitionBindings']?['results'])?['Name']}",
                      "item/crad9_principalname": "@items('Process_Each_Permission')?['Member']?['Title']",
                      "item/crad9_principaltype": "@items('Process_Each_Permission')?['Member']?['PrincipalType']",
                      "item/crad9_scanid@odata.bind": "/crad9_scansessions(@{variables('varScanID')})",
                      "item/crad9_siteurl": "@outputs('Get_Site_URL')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "runAfter": {
                "Increment_API_Count_Roles": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bfe95b26-a1cd-4430-8ae8-56ffe3781e07"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "runAfter": {
            "Get_Folders_With_Broken_Permissions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "process-broken-folders"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Update_Scan_Record_Completed": {
          "runAfter": {
            "Process_Broken_Permission_Folders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "update-scan-completed"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "crad9_scansessions",
              "recordId": "@variables('varScanID')",
              "item/crad9_folderswithbrokenpermissions": "@length(variables('varBrokenPermissionFolders'))",
              "item/crad9_scanendtime": "@utcNow()",
              "item/crad9_scanstatus": 1,
              "item/crad9_totalfoldersscanned": "@length(variables('varAllFolders'))"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Update_Scan_Record_Failed": {
          "runAfter": {
            "Process_Broken_Permission_Folders": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "update-scan-failed"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "crad9_scansessions",
              "recordId": "@variables('varScanID')",
              "item/crad9_errormessage": "@{workflow()?['run']?['error']?['message']}",
              "item/crad9_scanendtime": "@utcNow()",
              "item/crad9_scanstatus": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}